.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 130px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 36px;
  margin-bottom: 57px;
}

.u-block-71a7-49 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  font-size: 1.5rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  font-size: 1.5rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  font-size: 1.5rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  font-size: 1.5rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  font-size: 1.5rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  font-size: 1.5rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  padding: 6px 30px 6px 29px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  padding: 6px 30px;
}

.u-block-71a7-35 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-bottom: 60px;
  }
}