.u-section-1 .u-sheet-1 {
  min-height: 1940px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 645px;
  margin: 130px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 26px 112px 0;
}

.u-section-1 .u-list-1 {
  margin: 50px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 261px;
  min-height: 167px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 4px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 4px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 4px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 4px 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 4px 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 4px 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 4px 30px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-8 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 4px 30px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 286px;
  object-position: 100% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-9 {
  width: 261px;
  min-height: 167px;
  background-size: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -30px auto 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 4px 30px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-20 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  margin: 50px auto 0;
  padding: 16px 61px 16px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1710px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-2 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-3 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-4 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-5 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-6 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-7 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-8 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }

  .u-section-1 .u-image-9 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    width: 215px;
    min-height: 137px;
    margin-top: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2571px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-image-1 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-2 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-3 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-4 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-5 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-6 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-7 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-8 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -73px;
  }

  .u-section-1 .u-image-9 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -73px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4289px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 146px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    min-height: 138px;
    margin-top: -94px;
    margin-bottom: -43px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4006px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-1 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-4 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-6 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-8 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-8 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-9 {
    height: 235px;
    margin-top: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-9 {
    margin-top: -38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: auto;
  }
}